<div class="row">
    <%= form_tag("/filter", method:"get") do%>
    <div class="columns small-11 filterBox">
        <%= select_tag :publisher, options_for_select([['IGN', 'IGN'], ['Eurogamer','Eurogamer'], ['Other', 'Other']]) %>
    </div>
    <%= submit_tag :Filter, class: 'button filterBox'%>
    <% end %>
</div>

<% @posts.each do |p| %>
<div class="row listElmnt">
    <div class="large-6 columns">
        <a href="/posts/<%= p.id %>"><%= p.title %></a>
        <p>Publisher:
            <%= p.publisher %></p>
    </div>
    <div class="large-6 columns">
        <h4 style="float:right"><%= p.category %></h4>
    </div>
</div>
<% end %>
